.grid-container {
  display: grid;
  grid: auto ;
  grid-gap: 1px;
  background-color: black;
  grid-auto-columns: 100px;
  grid-auto-rows: 100px;
  width: 800px ;
}


.item1{
    background-color: white;
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    text-align: center;
    font-size: 30px;
}

.item3{
    background-color: white;
    grid-row: 1/span 1;
    grid-column: 3/span 1;
    text-align: center;
    font-size: 30px;
}

.item5{
    background-color: white;
    grid-row: 1/span 1;
    grid-column: 5/span 1;
    text-align: center;
    font-size: 30px;
}

.item7{
    background-color: white;
    grid-row: 1/span 1;
    grid-column: 7/span 1;
    text-align: center;
    font-size: 30px;
}

.item9{
    background-color: white;
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    text-align: center;
    font-size: 30px;
}

.item11{
    background-color: white;
    grid-row: 2/span 1;
    grid-column: 4/span 1;
    text-align: center;
    font-size: 30px;
}

.item13{
    background-color: white;
    grid-row: 2/span 1;
    grid-column: 6/span 1;
    text-align: center;
    font-size: 30px;
}

.item15{
    background-color: white;
    grid-row: 2/span 1;
    grid-column: 8/span 1;
    text-align: center;
    font-size: 30px;
}

.item17{
    background-color: white;
    grid-row: 3/span 1;
    grid-column: 1/span 1;
    text-align: center;
    font-size: 30px;
}

.item19{
    background-color: white;
    grid-row: 3/span 1;
    grid-column: 3/span 1;
    text-align: center;
    font-size: 30px;
}

.item21{
    background-color: white;
    grid-row: 3/span 1;
    grid-column: 5/span 1;
    text-align: center;
    font-size: 30px;
}

.item23{
    background-color: white;
    grid-row: 3/span 1;
    grid-column: 7/span 1;
    text-align: center;
    font-size: 30px;
}

.item25{
    background-color: white;
    grid-row: 4/span 1;
    grid-column: 2/span 1;
    text-align: center;
    font-size: 30px;
}

.item27{
    background-color: white;
    grid-row: 4/span 1;
    grid-column: 4/span 1;
    text-align: center;
    font-size: 30px;
}

.item29{
    background-color: white;
    grid-row: 4/span 1;
    grid-column: 6/span 1;
    text-align: center;
    font-size: 30px;
}

.item31{
    background-color: white;
    grid-row: 4/span 1;
    grid-column: 8/span 1;
    text-align: center;
    font-size: 30px;
}

.item33{
    background-color: white;
    grid-row: 5/span 1;
    grid-column: 1/span 1;
    text-align: center;
    font-size: 30px;
}

.item35{
    background-color: white;
    grid-row: 5/span 1;
    grid-column: 3/span 1;
    text-align: center;
    font-size: 30px;
}

.item37{
    background-color: white;
    grid-row: 5/span 1;
    grid-column: 5/span 1;
    text-align: center;
    font-size: 30px;
}

.item39{
    background-color: white;
    grid-row: 5/span 1;
    grid-column: 7/span 1;
    text-align: center;
    font-size: 30px;
}

.item41{
    background-color: white;
    grid-row: 6/span 1;
    grid-column: 2/span 1;
    text-align: center;
    font-size: 30px;
}

.item43{
    background-color: white;
    grid-row: 6/span 1;
    grid-column: 4/span 1;
    text-align: center;
    font-size: 30px;
}

.item45{
    background-color: white;
    grid-row: 6/span 1;
    grid-column: 6/span 1;
    text-align: center;
    font-size: 30px;
}

.item47{
    background-color: white;
    grid-row: 6/span 1;
    grid-column: 8/span 1;
    text-align: center;
    font-size: 30px;
}

.item49{
    background-color: white;
    grid-row: 7/span 1;
    grid-column: 1/span 1;
    text-align: center;
    font-size: 30px;
}

.item51{
    background-color: white;
    grid-row: 7/span 1;
    grid-column: 3/span 1;
    text-align: center;
    font-size: 30px;
}

.item53{
    background-color: white;
    grid-row: 7/span 1;
    grid-column: 3/span 1;
    text-align: center;
    font-size: 30px;
}

.item55{
    background-color: white;
    grid-row: 7/span 1;
    grid-column: 5/span 1;
    text-align: center;
    font-size: 30px;
}

.item57{
    background-color: white;
    grid-row: 7/span 1;
    grid-column: 7/span 1;
    text-align: center;
    font-size: 30px;
}

.item59{
    background-color: white;
    grid-row: 8/span 1;
    grid-column: 2/span 1;
    text-align: center;
    font-size: 30px;
}

.item61{
    background-color: white;
    grid-row: 8/span 1;
    grid-column: 4/span 1;
    text-align: center;
    font-size: 30px;
}

.item63{
    background-color: white;
    grid-row: 8/span 1;
    grid-column: 6/span 1;
    text-align: center;
    font-size: 30px;
}

.item64{
    background-color: white;
    grid-row: 8/span 1;
    grid-column: 8/span 1;
    text-align: center;
    font-size: 30px;
}