body{
	background-color: white;
	width: 800px;
}

.square{
	background-color: black;
	width: 100px;
	height: 100px;
	margin-right: 100px;
	float: left;
}

.square2{
	background-color: black;
	width: 100px;
	height: 100px;
	margin-right: 100px;
	float: left;
	margin-left: 100px;
}

